[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address = 0.0.0.0

[client]
default-character-set = utf8mb4